<launch>
<!-- Show raw  
	<node name="image_raw" pkg="image_view" type="image_view" respawn="false" output="screen">
		<remap from="image" to="/Multisense/left/image_rect_color"/>
		<param name="autosize" value="false" />
	</node>
-->

	<!-- Semantic Segmentation node  -->
	<node type="semantic_segmentation.py" name="semantic_segmentation" pkg="fcn8_ros" respawn="true" output="screen">
		<param name="topicInName" value="/Multisense/left/image_rect_color" />
		<param name="objectType_unknown" value="True" />
		<param name="objectType_grass" value="True" />
		<param name="objectType_ground" value="True" />
		<param name="objectType_human" value="True" />
		<param name="objectType_shelterbelt" value="True" />
		<param name="objectType_vehicle" value="True" />
		<param name="objectType_water" value="True" />
		<param name="imgDimWidth" value="512" />
		<param name="imgDimHeight" value="217" />

		<!-- Select GPU device, negative values selects cpu -->
		<param name="gpuDevice" value="3" /> 

		<param name="dirModelDescription" value="$(find fcn8_ros)/models/deploy.prototxt" />
		<param name="dirModelVaules" value="$(find fcn8_ros)/models/pascalcontext-fcn8s-heavy.caffemodel" />
		<param name="dirTestImage" value="$(find fcn8_ros)/src/Street2.jpg" />
		<param name="dirRemapping" value="$(find fcn8_ros)/remappingObjectTypes.mat" />
	</node>

	


<!-- Show respectively unknown, grass, ground, shelterbelt, vehicle and water

	<node name="image_processed_human" pkg="image_view" type="image_view" respawn="false" output="screen">
		<remap from="image" to="det/Multisense/semantic_segmentation/human"/>
		<param name="autosize" value="false" />
		<param name="window_name" value="human" />
	</node>
	<node name="image_processed_unknown" pkg="image_view" type="image_view" respawn="false" output="screen">
		<remap from="image" to="det/Multisense/semantic_segmentation/unknown"/>
		<param name="autosize" value="false" />
		<param name="window_name" value="unknown" />
	</node>

	<node name="image_processed_grass" pkg="image_view" type="image_view" respawn="false" output="screen">
		<remap from="image" to="det/Multisense/semantic_segmentation/grass"/>
		<param name="autosize" value="false" />
		<param name="window_name" value="grass" />
	</node>

	<node name="image_processed_ground" pkg="image_view" type="image_view" respawn="false" output="screen">
		<remap from="image" to="det/Multisense/semantic_segmentation/ground"/>
		<param name="autosize" value="false" />
		<param name="window_name" value="ground" />
	</node>

	<node name="image_processed_shelterbelt" pkg="image_view" type="image_view" respawn="false" output="screen">
		<remap from="image" to="det/Multisense/semantic_segmentation/shelterbelt"/>
		<param name="autosize" value="false" />
		<param name="window_name" value="shelterbelt" />
	</node>

	<node name="image_processed_vehicle" pkg="image_view" type="image_view" respawn="false" output="screen">
		<remap from="image" to="det/Multisense/semantic_segmentation/vehicle"/>
		<param name="autosize" value="false" />
		<param name="window_name" value="vehicle" />
	</node>

	<node name="image_processed_water" pkg="image_view" type="image_view" respawn="false" output="screen">
		<remap from="image" to="det/Multisense/semantic_segmentation/water"/>
		<param name="autosize" value="false" />
		<param name="window_name" value="water" />
	</node>

-->

</launch>
